@model IEnumerable<MovieCineplex.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h2>NOW ON SALE</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)"  height="100" width="140" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="width:15%">
                @*<a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.MovieId">FIND A CINEMA</a> 
                @*<a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
