@model IEnumerable<MovieCineplex.Models.SessionTime>

@{
    ViewData["Title"] = "Index";
}

<h2>Session for this movie</h2>

<h4>
    @Model.First().Movie.Title
    @Model.First().Cineplex.Location
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTime)
            </td>
            <td>
                <a asp-controller="Reservations" asp-action="CreateNew" asp-route-id="@item.SessionId">BookingNow</a> 
            </td>
        </tr>
}
    </tbody>
</table>
